.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore data files
data/*\.csv
data/*\.pdf
data/*\.rds

maps/*\.zip
maps/*\.rds
maps/bwl_shapefile

# Rendered files
site_libs
assets/plots
assets/js
*\.html
*_files
